<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/nav') %>
    <!-- 正文 -->
    <div class="ui container">
        <br><br><br>
        <%- partial('_partial/archive_index',{post: page}) %>
        
    </div>
    <br>
    <%- partial('_partial/footer') %>
</body>
</html>