<h2 class="ui horizontal divider orange header">
    <i class="paper plane icon"></i>
    课堂大礼包
</h2>

<div class="ui six stackable cards">
    <div class="ui card">
        <a class="image" href="pdf/fenxiaohunhe.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/fenxiaohunhe.png" alt=""></a>
        <div class="content">
            <div class="header">第1讲&nbsp;&nbsp;排列组合初步</div>
        </div>
    </div>
    <div class="ui card">
        <a class="image" href="pdf/xunhuanxiaoshu.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/xunhuanxiaoshu.png" alt=""></a>
        <div class="content">
            <div class="header">第2讲&nbsp;&nbsp;循环小数</div>
        </div>
    </div>
    <div class="ui card">
        <a class="image" href="pdf/daiyuchufajinjie.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/daiyuchufajinjie.png" alt=""></a>
        <div class="content">
            <div class="header">第3讲&nbsp;&nbsp;带余除法进阶</div>
        </div>
    </div>
    <div class="ui card">
        <a class="image" href="pdf/tongyu.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/tongyu.png" alt=""></a>
        <div class="content">
            <div class="header">第4讲&nbsp;&nbsp;同余</div>
        </div>
    </div>
    <div class="ui card">
        <a class="image" href="pdf/shenqide9.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/shenqide9.png" alt=""></a>
        <div class="content">
            <div class="header">第5讲&nbsp;&nbsp;神奇的9</div>
        </div>
    </div>
    <div class="ui card">
        <a class="image" href="pdf/pailiezuhechubu.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/pailiezuhechubu.png" alt=""></a>
        <div class="content">
            <div class="header">第6讲&nbsp;&nbsp;排列组合初步</div>
        </div>
    </div>

    <div class="ui card">
        <a class="image" href="pdf/pailiezuhejinjie.pdf" target="_blank"><img
                src="https://paper.qiufuxing.com/image/pailiezuhejinjie.png" alt=""></a>
        <div class="content">
            <div class="header">第7讲&nbsp;&nbsp;排列组合进阶</div>
        </div>
    </div>
</div>