<div class="ui bottom attached segment">
    <div class="ui teal segment">
        <div class="ui comments">
              <h3 class="ui dividing header">留言区</h3>
              <div id="vcomments" class="comment">

               
              </div>
        </div>
    </div>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/valine/dist/Valine.min.js"></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'cLhSID1rMBKEChM4gsnRYphK-gzGzoHsz',
        appKey: 'uYLDyCOnGqTX9GySlW29o9MD'
    })
</script>
